body{
    background-image: url("./assets/images/2.jpg");
    background-size: 80%;
    padding: 0;
    background-position: 305% 35%;
    background-repeat: no-repeat;
}
.nav__li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 1% 10% 1% 10%; /* Поля вокруг текста */
}
.about_me{
    max-width: 60%;
    padding: 0% 0% 0% 6%;
}
.tech__li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 1% 4% 1% 4%; /* Поля вокруг текста */
}